.page__header {
  box-sizing: border-box;
  padding: 0 104px 0;
}

@media all and (max-width: 1023px) {
  .page__header {
    padding: 0 40px 0;
    height: 66px;
  }
}

@media all and (max-width: 767px) {
  .page__header {
    padding: 0;
    height: 56px;
  }
}
