@import url(./__auth/header__auth.css);
@import url(./__exit/header__exit.css);
@import url(./__link/header__link.css);
@import url(./_type/_articles/header__menu_type_articles.css);

.header__menu {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media all and (max-width: 1023px) {
  .header__menu {
    min-width: 500px;
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  .header__menu {
    /* display: none; */
    flex-direction: column;
  }
}
