.result__source {
  max-width: 352px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  margin: 0;
  margin-top: 18px;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media all and (max-width: 1023px) {
  .result__source {
    max-width: 192px;
    margin-top: 10px;
    bottom: 16px;
    left: 16px;
  }
}

@media all and (max-width: 767px) {
  .result__source {
    max-width: 256px;
    margin-top: 8px;
  }
}
@media all and (max-width: 319px) {
  .result__source {
    max-width: 192px;
  }
}
